@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
body{
  font-family: 'Lexend', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
}
#top-nav{
  background-color: #002B46;
  .container-fluid{
    margin-left: 300px;
    ul{
      margin-right: 41vh;
    }
  }
}
#below-nav{
  .navbar-brand{
    margin-left: 250px;
  }
  .navbar-collapse{
    margin-left: 100px;
    li{
      margin-left: 20px;
    }
  }
}
#about{
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/Image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #002B46;
  background-blend-mode: multiply;
  opacity: 0.7;
  width: 100%;
  height: 50vh;
  text-align: center;
  .container{
    padding-top: 60px;
    color: whitesmoke;
  }
}

#difference{
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-color: #002B46;
  background-blend-mode: multiply;
  width: 60%;
  height: 70vh;
  .lead{
    color: orange;
  }
}

#instructors{
  margin-top: 40px;
  text-align: center;
  align-items: center;
  h4{
    color: orange;
  }
  h1{
    color: #002B46;
  }
  .card {
    margin-top: 50px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40vh;
    height: 40vh;
    overflow: visible;
    img{
      width: 30vh;
      height: 20vh;
      border: 6px solid orange;
      overflow: visible;
    }
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
}
#enroll{
  background: url('../img/friendss.png')center center/cover;
  background-repeat: no-repeat;
  background-color: #002B46;
  background-blend-mode: multiply;
  margin-top: 10vh;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 35vh;
  padding-top: 55px;

  h1{
    color: whitesmoke;
    letter-spacing: 2px;
  }
  p{
    color: whitesmoke;
  }
}
#teaching{
  height: 90vh;
  margin-top: 60px;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
  
  p{
    color: orange;
  }
  h1{
    color: #002B46;
  }
  p1{
    color: #002B46;
  }
  .col{
    width: 50vh;
  }
  img{
    width: 10%;
    height: 10%;
  }
  a{
    width: 146px;
    height: 41px;
    color: whitesmoke;
    background-color: #002B46;
  }
}

#footer {
  background-image: url("./asset/footer-bg.png");
  background-color:#002b46 ;
  background-blend-mode: multiply;
  font-family: 'Lexend', sans-serif;
}

#footer .subscribe-btn {
  background-color: #FFA100;
  font-weight: 700;
}

#footer .platform,.resources,.touch {
  color: #FFA100;
  font-family: Lexend;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 0;
}

#footer a {
  font-family: Lexend;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: white;
  margin-top: 25px;
  display: block;

}


#footer .touch-inner p {
  color: white;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}

#footer .touch-inner img {
  width: 18px;
  height: 20.7px;
  position: relative;
  top: 25px;
  margin-right: 10px;
}

#footer hr {
  border: 1px solid white;
}

#footer .fab{
  color: white;
  margin-right: 10px;
  

}