#about{
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../img/Image.png') no-repeat center center/cover;
  width: 100%;
  height: 50vh;
  text-align: center;
  .container{
    padding-top: 60px;
  }
}





#difference{
  background: url('../img/bg.jpg') no-repeat center center/cover;
  width: 60%;
  height: 50vh;
}

#instructors{
  background: url('../img/friendss.png') no-repeat center center/cover;
  margin-top: 10vh;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 35vh;
  padding-top: 55px;
}