#top-nav{
  background-color: #002B46;
}
#about{
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/Image.png');
  background-repeat: no-repeat;
  background-color: #002B46;
  background-blend-mode: multiply;
  opacity: 0.7;
  width: 100%;
  height: 50vh;
  text-align: center;
  .container{
    padding-top: 60px;
    color: whitesmoke;
  }
}

#difference{
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-color: #002B46;
  background-blend-mode: multiply;
  width: 60%;
  height: 70vh;
  .lead{
    color: orange;
  }
}

#instructors{
  margin-top: 40px;
  text-align: center;
  align-items: center;
  h4{
    color: orange;
  }
  h1{
    color: #002B46;
  }
  .card {
    margin-top: 50px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40vh;
    height: 40vh;
    overflow: visible;
    img{
      width: 30vh;
      height: 20vh;
      border: 6px solid orange;
      overflow: visible;
    }
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
}
#enroll{
  background: url('../img/friendss.png')center center/cover;
  background-repeat: no-repeat;
  background-color: #002B46;
  background-blend-mode: multiply;
  margin-top: 10vh;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 35vh;
  padding-top: 55px;

  h1{
    color: whitesmoke;
    letter-spacing: 2px;
  }
  p{
    color: whitesmoke;
  }
}
#teaching{
  height: 70vh;
  margin-top: 60px;
  align-items: center;
  text-align: center;
  p{
    color: orange;
  }
  h1{
    color: #002B46;
  }
  p1{
    color: #002B46;
  }
  .col{
    width: 50vh;
  }
  img{
    width: 10%;
    height: 10%;
  }
  button{
    color: whitesmoke;
    background-color: #002B46;
  }
}